<a href="https://colab.research.google.com/github/alokranjan04/FileSaver.js/blob/master/testingWithSheets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install --upgrade -q gspread
!pip install gspread-dataframe
!pip install flask

Requirement already satisfied: gspread-dataframe in /usr/local/lib/python3.6/dist-packages (3.0.2)
Requirement already satisfied: pandas>=0.14.0 in /usr/local/lib/python3.6/dist-packages (from gspread-dataframe) (0.22.0)
Requirement already satisfied: gspread>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from gspread-dataframe) (3.1.0)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.14.0->gspread-dataframe) (1.14.6)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.14.0->gspread-dataframe) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.14.0->gspread-dataframe) (2018.7)
Requirement already satisfied: requests>=2.2.1 in /usr/local/lib/python3.6/dist-packages (from gspread>=3.0.0->gspread-dataframe) (2.18.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2->pandas>=0.14.0->gspread-dataframe) (1.11.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread>=3.0.0->gspread-dataframe) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread>=3.0.0->gspread-dataframe) (2018.11.29)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread>=3.0.0->gspread-dataframe) (1.22)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread>=3.0.0->gspread-dataframe) (2.6)
Requirement already satisfied: flask in /usr/local/lib/python3.6/dist-packages (1.0.2)
Requirement already satisfied: Werkzeug>=0.14 in /usr/local/lib/python3.6/dist-packages (from flask) (0.14.1)
Requirement already satisfied: click>=5.1 in /usr/local/lib/python3.6/dist-packages (from flask) (7.0)
Requirement already satisfied: itsdangerous>=0.24 in /usr/local/lib/python3.6/dist-packages (from flask) (1.1.0)
Requirement already satisfied: Jinja2>=2.10 in /usr/local/lib/python3.6/dist-packages (from flask) (2.10)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2>=2.10->flask) (1.1.0)

In [0]:
import numpy as np
import pandas as pd
import gspread 
from gspread_dataframe import get_as_dataframe, set_with_dataframe

In [0]:
from google.colab import auth
auth.authenticate_user()
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [0]:
def convertDateFormat(dateValue) :
  if(('AM' in repr(dateValue)) | ('PM' in repr(dateValue)) ): 
    if (',' not in repr(dateValue)):
      dateForamt = time.mktime(datetime.datetime.strptime(dateValue, "%Y/%m/%d %H:%M:%S %p").timetuple()) 
    else:  
      try: 
        dateForamt = time.mktime(datetime.datetime.strptime(dateValue, "%m/%d/%Y, %I:%M:%S %p").timetuple())
      except:
        dateForamt = time.mktime(datetime.datetime.strptime(dateValue,"%H:%M:%S, %m/%d/%Y %p").timetuple())
  else:
    if (',' not in repr(dateValue)):
      dateForamt = time.mktime(datetime.datetime.strptime(dateValue, "%Y/%m/%d %H:%M:%S").timetuple()) 
    else:  
      try: 
        dateForamt = time.mktime(datetime.datetime.strptime(dateValue, "%m/%d/%Y, %I:%M:%S").timetuple())
      except:
        try: 
          dateForamt = time.mktime(datetime.datetime.strptime(dateValue, "%d/%m/%Y, %I:%M:%S").timetuple())
        except:
          try: 
            dateForamt = time.mktime(datetime.datetime.strptime(dateValue, "%d/%m/%Y, %H:%M:%S").timetuple())
          except: 
            try:   
              dateForamt = time.mktime(datetime.datetime.strptime(dateValue,"%I:%M:%S, %m/%d/%Y").timetuple())
            except:
              dateForamt = time.mktime(datetime.datetime.strptime(dateValue,"%H:%M:%S, %m/%d/%Y").timetuple())
                
  return dateForamt

In [26]:
import time
import datetime
convertDateFormat('28/12/2018, 13:00:59')

1546002059.0

In [0]:

sheet1 = gc.open_by_url('https://docs.google.com/spreadsheets/d/1O_RbV63LpZK7KSA6nPfisRJBGX5Rm8Cq_v3gfp3TC5o/edit#gid=0')
sheet2 = gc.open_by_url('https://docs.google.com/spreadsheets/d/1BqMAqF5U4z5m-qRXD9BspZG5Ro_jh3x2a80KOOup_nU/edit#gid=0')
sheet3 = gc.open_by_url('https://docs.google.com/spreadsheets/d/1dKh-1js_kMscAyUrML2TVAAZgBI4laugr-HoYr7xCBg/edit#gid=0')
sheet4 = gc.open_by_url('https://docs.google.com/spreadsheets/d/1KLIRl47Q1bS3uhV0fgbqdctwjbz86R4ShxOQuc_iL7Q/edit#gid=0')
sheet5 = gc.open_by_url('https://docs.google.com/spreadsheets/d/1Rj2Q_bzw3wQ-LhfwULIwSDHl9cUVVr1m28zHx_ngKVo/edit#gid=1256653836')
sheet6 = gc.open_by_url('https://docs.google.com/spreadsheets/d/1E7ZyPJzqU8Sw05e01AV6HckXh5uU-CgE8SAsxY08snU/edit#gid=1256653836')
sheet7 = gc.open_by_url('https://docs.google.com/spreadsheets/d/1YW39Plivd870gR2PcrTDCQgce2n87kW8qo1Ir-tRV8M/edit#gid=1256653836')


ws1 = sheet1.worksheet('Sheet2')
ws2 = sheet2.worksheet('Sheet2')
ws3 = sheet3.worksheet('Sheet2')
ws4 = sheet4.worksheet('Sheet2')
ws5 = sheet5.worksheet('Sheet2')
ws6 = sheet6.worksheet('Sheet2')
ws7 = sheet7.worksheet('Sheet2')

data_df1 = get_as_dataframe(ws1)
data_df2 = get_as_dataframe(ws2)
data_df3 = get_as_dataframe(ws3)
data_df4 = get_as_dataframe(ws4)
data_df5 = get_as_dataframe(ws5)
data_df6 = get_as_dataframe(ws6)
data_df7 = get_as_dataframe(ws7)
df1 = data_df1[['Activity','Activity Time','LDAP']]
df2 = data_df2[['Activity','Activity Time','LDAP']]
df3 = data_df3[['Activity','Activity Time','LDAP']]
df4 = data_df4[['Activity','Activity Time','LDAP']]
df5 = data_df5[['Activity','Activity Time','LDAP']]
df7 = data_df6[['Activity','Activity Time','LDAP']]
df8 = data_df7[['Activity','Activity Time','LDAP']]
df6 = df1.append(df2).append(df3).append(df4).append(df5).append(df7).append(df8)

In [0]:
import time
import datetime
df6["ActivityTimeStamp"] =   df6["Activity Time"].apply(lambda x: (convertDateFormat(x)) if  isinstance(x, str) else 0)

In [8]:
df6

      Activity           Activity Time            LDAP  ActivityTimeStamp
0         idle  11/29/2018, 6:23:50 AM      ayusantika       1.543473e+09
1         idle  11/29/2018, 6:23:53 AM           fongt       1.543473e+09
2       active  11/29/2018, 6:23:58 AM          skarim       1.543473e+09
3       active  11/29/2018, 6:24:01 AM      ayusantika       1.543473e+09
4         idle  11/29/2018, 6:24:13 AM          skarim       1.543473e+09
5         idle  11/29/2018, 6:24:24 AM       achimklai       1.543473e+09
6       active  11/29/2018, 6:24:25 AM       achimklai       1.543473e+09
7       active  11/29/2018, 6:24:27 AM       nuibrahim       1.543473e+09
8       active  11/29/2018, 6:24:36 AM       muhammadz       1.543473e+09
9         idle  11/29/2018, 6:24:38 AM      nguyenthup       1.543473e+09
10        idle  11/29/2018, 6:24:45 AM        mgotanda       1.543473e+09
11      active  11/29/2018, 6:24:50 AM        mgotanda       1.543473e+09
12        idle  11/29/2018, 6:24:53 AM       nuibrahim       1.543473e+09
13      active  11/29/2018, 6:24:55 AM      nguyenthup       1.543473e+09
14      active  11/29/2018, 6:24:56 AM  muhammadsofwan       1.543473e+09
15        idle  11/29/2018, 6:25:06 AM          wloong       1.543473e+09
16        idle  11/29/2018, 6:25:12 AM         mhamyoh       1.543473e+09
17        idle  11/29/2018, 6:25:11 AM      nguyenthup       1.543473e+09
18      active  11/29/2018, 6:25:12 AM      nguyenthup       1.543473e+09
19      active  11/29/2018, 6:25:16 AM         mhamyoh       1.543473e+09
20      active  11/29/2018, 6:25:18 AM         rsanmut       1.543473e+09
21        idle  11/29/2018, 6:25:23 AM       achimklai       1.543473e+09
22        idle  11/29/2018, 6:25:28 AM      nguyenthup       1.543473e+09
23        idle  11/29/2018, 6:25:33 AM         mhamyoh       1.543473e+09
24        idle  11/29/2018, 6:25:35 AM         rsanmut       1.543473e+09
25      active  11/29/2018, 6:25:36 AM            ilif       1.543473e+09
26      active  11/29/2018, 6:25:42 AM         mhamyoh       1.543473e+09
27      active  11/29/2018, 6:25:46 AM          wloong       1.543473e+09
28      active  11/29/2018, 6:25:50 AM       nuibrahim       1.543473e+09
29        idle  11/29/2018, 6:25:50 AM  muhammadsofwan       1.543473e+09
...        ...                     ...             ...                ...
28775     idle  12/17/2018, 5:22:12 PM           iffah       1.545067e+09
28776   active  12/17/2018, 5:22:19 PM         nariaki       1.545067e+09
28777   active  12/17/2018, 5:22:27 PM     muhammadnur       1.545067e+09
28778   active  12/17/2018, 5:22:30 PM       lethibich       1.545067e+09
28779     idle  12/17/2018, 5:22:33 PM    nguyenthanht       1.545067e+09
28780     idle  12/17/2018, 5:22:35 PM         nariaki       1.545067e+09
28781     idle  12/17/2018, 5:22:50 PM           hkama       1.545067e+09
28782   active  12/17/2018, 5:22:52 PM    nguyenthanht       1.545067e+09
28783   active  12/17/2018, 5:22:55 PM           iffah       1.545067e+09
28784   active  12/17/2018, 5:22:55 PM       awyongwee       1.545067e+09
28785     idle  12/17/2018, 5:22:56 PM          onishi       1.545067e+09
28786     idle  12/17/2018, 5:22:56 PM        cheekent       1.545067e+09
28787   active  12/17/2018, 5:22:59 PM          onishi       1.545067e+09
28788     idle  12/17/2018, 5:23:07 PM      ayusantika       1.545067e+09
28789   active  12/17/2018, 5:23:07 PM         nariaki       1.545067e+09
28790   active  12/17/2018, 5:23:09 PM      ayusantika       1.545067e+09
28791     idle  12/17/2018, 5:23:18 PM     muhammadnur       1.545067e+09
28792     idle  12/17/2018, 5:23:24 PM         nariaki       1.545067e+09
28793   active  12/17/2018, 5:23:31 PM         nariaki       1.545067e+09
28794   active  12/17/2018, 5:23:32 PM        cheekent       1.545067e+09
28795     idle  12/17/2018, 5:23:33 PM       awyongwee       1.545067e+09
28796   active  12/17/2018, 5:23:42 PM     muhammadnur       1.545067e+09
28797     idle  12/17/2018, 5:23:54 PM    nguyenthanht       1.545067e+09
28798     idle  12/17/2018, 5:23:54 PM        cheekent       1.545067e+09
28799   active  12/17/2018, 5:23:57 PM       awyongwee       1.545067e+09
28800   active  12/17/2018, 5:24:01 PM        cheekent       1.545067e+09
28801     idle  12/17/2018, 5:24:01 PM         nariaki       1.545067e+09
28802     idle  12/17/2018, 5:24:18 PM     muhammadnur       1.545067e+09
28803     idle  12/17/2018, 5:24:26 PM      yamagishim       1.545067e+09
28804   active  12/17/2018, 5:24:26 PM      yamagishim       1.545067e+09

[1193875 rows x 4 columns]

In [9]:
df6 = df6.drop_duplicates()
df6

,Activity,Activity Time,LDAP,ActivityTimeStamp
0,idle,"11/29/2018, 6:23:50 AM",ayusantika,1.543473e+09
1,idle,"11/29/2018, 6:23:53 AM",fongt,1.543473e+09
2,active,"11/29/2018, 6:23:58 AM",skarim,1.543473e+09
3,active,"11/29/2018, 6:24:01 AM",ayusantika,1.543473e+09
4,idle,"11/29/2018, 6:24:13 AM",skarim,1.543473e+09
5,idle,"11/29/2018, 6:24:24 AM",achimklai,1.543473e+09
6,active,"11/29/2018, 6:24:25 AM",achimklai,1.543473e+09
7,active,"11/29/2018, 6:24:27 AM",nuibrahim,1.543473e+09
8,active,"11/29/2018, 6:24:36 AM",muhammadz,1.543473e+09
9,idle,"11/29/2018, 6:24:38 AM",nguyenthup,1.543473e+09
10,idle,"11/29/2018, 6:24:45 AM",mgotanda,1.543473e+09
11,active,"11/29/2018, 6:24:50 AM",mgotanda,1.543473e+09
12,idle,"11/29/2018, 6:24:53 AM",nuibrahim,1.543473e+09
13,active,"11/29/2018, 6:24:55 AM",nguyenthup,1.543473e+09
14,active,"11/29/2018, 6:24:56 AM",muhammadsofwan,1.543473e+09
15,idle,"11/29/2018, 6:25:06 AM",wloong,1.543473e+09
16,idle,"11/29/2018, 6:25:12 AM",mhamyoh,1.543473e+09
17,idle,"11/29/2018, 6:25:11 AM",nguyenthup,1.543473e+09
18,active,"11/29/2018, 6:25:12 AM",nguyenthup,1.543473e+09
19,active,"11/29/2018, 6:25:16 AM",mhamyoh,1.543473e+09
20,active,"11/29/2018, 6:25:18 AM",rsanmut,1.543473e+09
21,idle,"11/29/2018, 6:25:23 AM",achimklai,1.543473e+09
22,idle,"11/29/2018, 6:25:28 AM",nguyenthup,1.543473e+09
23,idle,"11/29/2018, 6:25:33 AM",mhamyoh,1.543473e+09
24,idle,"11/29/2018, 6:25:35 AM",rsanmut,1.543473e+09
25,active,"11/29/2018, 6:25:36 AM",ilif,1.543473e+09
26,active,"11/29/2018, 6:25:42 AM",mhamyoh,1.543473e+09
27,active,"11/29/2018, 6:25:46 AM",wloong,1.543473e+09
28,active,"11/29/2018, 6:25:50 AM",nuibrahim,1.543473e+09
29,idle,"11/29/2018, 6:25:50 AM",muhammadsofwan,1.543473e+09
...,...,...,...,...
26683,idle,"12/15/2018, 6:48:17 AM",vanklyn,1.544856e+09
26684,active,"12/15/2018, 6:48:20 AM",tzesiengl,1.544856e+09
26685,active,"12/15/2018, 6:48:21 AM",hkama,1.544857e+09
26686,idle,"12/15/2018, 6:48:24 AM",ihasakanbancha,1.544857e+09
26687,idle,"12/15/2018, 6:48:25 AM",kenhock,1.544857e+09
26688,idle,"12/15/2018, 6:48:29 AM",kyungshin,1.544857e+09
26689,active,"12/15/2018, 6:48:31 AM",ihasakanbancha,1.544857e+09
26690,active,"12/15/2018, 6:48:32 AM",ilif,1.544857e+09
26691,active,"12/15/2018, 6:48:36 AM",kenhock,1.544857e+09
26692,active,"12/15/2018, 6:48:36 AM",shinwook,1.544857e+09
26693,idle,"12/15/2018, 6:48:37 AM",seulbee,1.544857e+09
26694,login,"12/15/2018, 6:48:40 AM",donggil,1.544857e+09
26695,Flagged Videos T1,"12/15/2018, 6:48:44 AM",donggil,1.544857e+09
26696,idle,"12/15/2018, 6:48:50 AM",ihasakanbancha,1.544857e+09
26697,active,"12/15/2018, 6:48:57 AM",muhammadsofwan,1.544857e+09
26698,idle,"12/15/2018, 6:49:02 AM",kenhock,1.544857e+09
26699,idle,"12/15/2018, 6:49:09 AM",thithanhhang,1.544857e+09
26700,idle,"12/15/2018, 6:49:09 AM",junehyurk,1.544857e+09
26701,active,"12/15/2018, 6:49:11 AM",hyesoo,1.544857e+09
26702,active,"12/15/2018, 6:49:11 AM",kenhock,1.544857e+09
26703,login,"12/15/2018, 6:49:11 AM",wwaearlee,1.544857e+09
26704,active,"12/15/2018, 6:49:15 AM",junehyurk,1.544857e+09
26705,Flagged Videos T2,"12/15/2018, 6:49:15 AM",wwaearlee,1.544857e+09
26706,idle,"12/15/2018, 6:49:17 AM",donggil,1.544857e+09
26707,active,"12/15/2018, 6:49:19 AM",donggil,1.544857e+09
26708,idle,"12/15/2018, 6:49:21 AM",muhammadsofwan,1.544857e+09
26709,active,"12/15/2018, 6:49:23 AM",muhammadsofwan,1.544857e+09
26710,idle,"12/15/2018, 6:49:23 AM",shinwook,1.544857e+09
26711,active,"12/15/2018, 6:49:24 AM",shinwook,1.544857e+09
26712,idle,"12/15/2018, 6:49:28 AM",maisarah,1.544857e+09

In [0]:
def convertTime(counter):
    if (counter < 60 ):
      return str(counter)+" Sec"
    elif (counter < 3600 & counter >= 60 ):
      return str(int(counter/60))+" Min "+str(int(counter%60))+" Sec"
    elif (counter >= 3600 ):
      return str(int(counter/3600))+" Hour "+str(int((counter/3600 - int(counter/3600))*60))+" Min "+str(int(((counter/3600 - int(counter/3600))*60 - int((counter/3600 - int(counter/3600))*60))*60))+" Sec"

def getLdap(ldap, dfday):
    dfldap = dfday[dfday['LDAP'] == ldap]
    dfldap['TimeDiff'] =  dfldap['ActivityTimeStamp'].diff()
    startTime =  dfldap['Activity Time'].iloc[0] if (len(dfldap[dfldap['TimeDiff']> 3600*8]) ==0) else dfldap[dfldap['TimeDiff']> 3600*8]['Activity Time'].iloc[0]
    endTime = dfldap['Activity Time'].iloc[-1]
    stTime =  ((time.mktime(datetime.datetime.strptime(startTime, "%Y/%m/%d %H:%M:%S").timetuple())  if ',' not in repr(startTime) else  (time.mktime(datetime.datetime.strptime(startTime, "%m/%d/%Y, %I:%M:%S %p").timetuple()) if (('AM' in repr(startTime)) | ('PM' in repr(startTime)) ) else  time.mktime(datetime.datetime.strptime(startTime, "%d/%m/%Y, %H:%M:%S").timetuple()))) if  isinstance(startTime, str) else 0)
    enTime =  ((time.mktime(datetime.datetime.strptime(endTime, "%Y/%m/%d %H:%M:%S").timetuple())  if ',' not in repr(endTime) else  (time.mktime(datetime.datetime.strptime(endTime, "%m/%d/%Y, %I:%M:%S %p").timetuple()) if (('AM' in repr(endTime)) | ('PM' in repr(endTime)) ) else  time.mktime(datetime.datetime.strptime(endTime, "%d/%m/%Y, %H:%M:%S").timetuple()))) if  isinstance(endTime, str) else 0)
    return {'ldap': ldap, 'startTime': startTime, 'End Time': endTime, 'Total Time':(enTime - stTime) }
        

def getData(date1):
  time1 = int(time.mktime(datetime.datetime.strptime(date1+", 6:30:00 AM", "%m/%d/%Y, %I:%M:%S %p").timetuple()))
  time2 = int(time1 + 86400)
  dfday = df6[(df6["ActivityTimeStamp"] <time2) & (df6["ActivityTimeStamp"] > time1)]
  dfday = dfday.dropna()
  
  listD= []
  for ldap in dfday.LDAP.unique():
    listD.append(getLdap(ldap, dfday))
  
  if (len(listD) > 0):
    finalFrame = pd.DataFrame(listD)[['ldap','startTime','End Time','Total Time']].dropna()
    finalFrameAvg = int(pd.DataFrame(listD)['Total Time'].mean(axis=0))
    averageTimeFormat = convertTime(finalFrameAvg)
  #return ({'LDAP Count': finalFrame[finalFrame['Total Time']> 3600]['ldap'].count(),'Average Time': finalFrameAvg,'Time Format':averageTimeFormat } if (len(listD) > 0) else {'LDAP Count':0,'Average Time':0,'Time Format':0})
  else:
    finalFrame = pd.DataFrame([])

  return finalFrame[finalFrame['Total Time']> 3600] if(len(finalFrame)>0 ) else finalFrame

    

def getLdapDetails(date1):
  time1 = int(time.mktime(datetime.datetime.strptime(date1+", 6:30:00 AM", "%m/%d/%Y, %I:%M:%S %p").timetuple()))
  time2 = int(time1 + 86400)
  dfday = df6[(df6["ActivityTimeStamp"] <time2) & (df6["ActivityTimeStamp"] > time1)]
  dfday = dfday.dropna()
  
  listD= []
  for ldap in dfday.LDAP.unique():
    listD.append(getLdap(ldap, dfday))
  
  if (len(listD) > 0):
    finalFrame = pd.DataFrame(listD)
    return finalFrame[finalFrame['Total Time']> 3600]
  else:
    return pd.DataFrame(listD)

In [11]:
ldapDateSeries = {}
def ldaDetailsIndateRange(dateRange):
  for date in dateRange:
    print(date)
    ldapDateSeries[date] = getData(date)
    panel= pd.Panel(ldapDateSeries)
  return panel

dateRange = pd.date_range('12/1/2018','1/7/2019').strftime('%m/%d/%Y')
dfVal = ldaDetailsIndateRange(dateRange)

12/01/2018

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: DeprecationWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  # Remove the CWD from sys.path while we load stuff.

12/02/2018
12/03/2018
12/04/2018
12/05/2018
12/06/2018
12/07/2018
12/08/2018
12/09/2018
12/10/2018
12/11/2018
12/12/2018
12/13/2018
12/14/2018
12/15/2018
12/16/2018
12/17/2018
12/18/2018
12/19/2018
12/20/2018
12/21/2018
12/22/2018
12/23/2018
12/24/2018
12/25/2018
12/26/2018
12/27/2018
12/28/2018
12/29/2018
12/30/2018
12/31/2018
01/01/2019
01/02/2019
01/03/2019
01/04/2019
01/05/2019
01/06/2019
01/07/2019

In [54]:
# report generated from the dates from 1st dec to 31st Dec


concatdf = []
tdateRange = pd.date_range('1/1/2019','1/7/2019').strftime('%m/%d/%Y')
for date in tdateRange:
  concatdf.append(dfVal[date].dropna())

def dayperhrcalc(x,y):
  return convertTime(int(int(x)/int(y)))
productivityDataFrame = pd.DataFrame(pd.concat(concatdf).groupby('ldap')['Total Time'].sum())
productivityDataFrame = productivityDataFrame.reset_index()
productivityDataFrame.columns=['ldap', 'Total Time']
productivityDataFrame['Total Days'] = productivityDataFrame['ldap'].apply(lambda x:  (pd.concat(concatdf)['ldap'].value_counts().to_frame()['ldap'][x]) ) 
productivityDataFrame['Time in Hours'] = productivityDataFrame['Total Time'].apply(lambda x: convertTime(int(x)) )
productivityDataFrame['Average Time per day'] = productivityDataFrame.apply(lambda row: dayperhrcalc(row['Total Time'], row['Total Days']), axis=1 )
print(productivityDataFrame.info())

monthlyList = []
for date in tdateRange:
 # print(date)
  val={}
  val1 = dfVal[date]
  val.update({
    'date':date,
    'LDAP Count': len(dfVal[date].dropna()),
    'Total Time': (0 if (len(dfVal[date].dropna()) ==0) else int((dfVal[date].dropna())['Total Time'].sum())),
    'Total Time Format': convertTime(0 if (len(dfVal[date].dropna()) ==0) else int((dfVal[date].dropna())['Total Time'].sum())),
    'Average Time': (0 if (len(dfVal[date].dropna()) ==0) else int((dfVal[date].dropna())['Total Time'].mean())),
    'Avg Time Format': convertTime(0 if (len(dfVal[date].dropna()) ==0) else int((dfVal[date].dropna())['Total Time'].mean())) 
     })
  monthlyList.append(val)
productivityFrame = pd.DataFrame(monthlyList)[['date','LDAP Count','Total Time','Total Time Format','Average Time','Avg Time Format']]   
 
print(productivityFrame.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 5 columns):
ldap                    172 non-null object
Total Time              172 non-null float64
Total Days              172 non-null int64
Time in Hours           172 non-null object
Average Time per day    172 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 6.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
date                 7 non-null object
LDAP Count           7 non-null int64
Total Time           7 non-null int64
Total Time Format    7 non-null object
Average Time         7 non-null int64
Avg Time Format      7 non-null object
dtypes: int64(3), object(3)
memory usage: 416.0+ bytes
None

In [0]:
#Insert into Google Sheet

import gspread 
from gspread_dataframe import get_as_dataframe, set_with_dataframe

from google.colab import auth
auth.authenticate_user()
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())

productivitySheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/18_gAPZPQgiipdApSKlz1XwNxh_cbnvCflKCqZy70Xxk/edit#gid=0')
wks = productivitySheet.worksheet('Jan Datewise Details')
for indx in range(0,len(productivityFrame.index.tolist())):
  if indx ==0:
    listheader = list(productivityFrame)
    wks.insert_row(listheader, 1) 
  else:
    listrow = list(productivityFrame.iloc[indx-1].as_matrix());
    listrowstr = [str(i) for i in listrow]
    wks.insert_row(listrowstr, indx+1)

wks2 = productivitySheet.worksheet('Jan LDAPwise Details')
for indx in range(0,len(productivityDataFrame.index.tolist())):
  if indx ==0:
    listheader = list(productivityDataFrame)
    wks2.insert_row(listheader, 1) 
  else:
    listrow = list(productivityDataFrame.iloc[indx-1].as_matrix());
    listrowstr = [str(i) for i in listrow]
    wks2.insert_row(listrowstr, indx+1)

In [71]:
# insert date wise in google sheet

import gspread 
from gspread_dataframe import get_as_dataframe, set_with_dataframe

from google.colab import auth
auth.authenticate_user()
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())

productivitySheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/18_gAPZPQgiipdApSKlz1XwNxh_cbnvCflKCqZy70Xxk/edit#gid=0')

dateSelected = '01/02/2019'


datasetfordateselected = dfVal[dateSelected].dropna()
datasetfordateselected['Time in hours'] = datasetfordateselected['Total Time'].apply(lambda x: convertTime(int(x)))


wks3 = productivitySheet.worksheet(dateSelected)
for indx in range(0,len(datasetfordateselected.index.tolist())):
  if indx ==0:
    listheader = list(datasetfordateselected)
    wks3.insert_row(listheader, 1) 
  else:
    listrow = list(datasetfordateselected.iloc[indx-1].as_matrix());
    listrowstr = [str(i) for i in listrow]
    wks3.insert_row(listrowstr, indx+1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [46]:
range(0,len(datasetfordateselected.index.tolist()))

range(0, 85)